body {
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid-row {
    justify-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100vw - 2rem);
    margin: 1rem;
}

input[type="number"] {
    width: 3rem;
    margin: 1rem;
}

button {
    margin: 0.2rem;
    width: 10rem;
}

h1 {
    visibility: hidden;
    margin-top: 1rem;
    text-align: center;
}

.hidden {
    visibility: hidden;
}